* {
    box-sizing: border-box;
}

html {
    --primary-color: #0F1B4C;
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: Poppins, sans-serif;
}

/* ===== ... ===== */

/* ===== ... ===== */

/* ===== ... ===== */

/* ===== ... ===== */

/* ===== ... ===== */

/* ===== ... ===== */

/* ===== ... ===== */