* {
    box-sizing: border-box;
}

html {
    --primary-color: #FFB900;
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: Poppins, sans-serif;
}

/* ===== Common ===== */
.content {  
    margin-left: 135px;
    margin-right: 135px;
}

.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.yellow-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 118px;
    height: 50px;
    border-radius: 25px;
    background: #FFB900;

    color: #FFF;
    font-family: Poppins;
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1.86714;
}

.black-btn {
    display: flex; 
    justify-content: center;
    align-items: center;
    width: 118px;
    height: 50px;
    border-radius: 25px;
    background: #171100;

    color: #FFF;
    text-align: center;
    font-family: Poppins;
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1.86714; /* 185.714% */
}

.btn:hover {
    opacity: 0.8;
}

h2 {
    color: #130606;
    font-family: Sen;
    font-size: 3.8rem;
    font-weight: 700;
    line-height: 1.26; /* 126.316% */
    letter-spacing: -0.76px;
}

.desc16 {
    color: #5F5B53;
    font-family: Poppins;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.75; /* 175% */
}

/* ===== Nav Bar ===== */
.navbar {   
    background-color: #FFFCF4;
}

.navbar .content {
    padding-top: 36px;

    min-width: 1170px;
    height: 86px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar .content .navbar-cta{
    display: flex;
    align-items: center;
}
.navbar .cta-menu {
    display: flex;
    margin-right: 70px;
}

.navbar .cta-menu .item {
    margin-left: 42px;
}

.navbar .cta-menu a {
    position: relative;
    color: #5F5B53;
    text-align: center;
    font-family: Poppins;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.75; /* 175% */
}

.navbar .cta-menu a:hover::after {
    position: absolute;
    content:"";
    width: 12px;
    height: 2px;
    bottom: 0;
    left: 0;
    border-radius: 1px;
    background: #171100;
}

.navbar .cta-menu a:hover {
    color: #171100;
    text-align: center;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px; /* 175% */
}

.navbar .cta-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 144px;
    height: 50px;
    border-radius: 24.5px;
    background: #171100;

    color: #FFF;
    font-family: Poppins;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1.75; /* 175% */
}

.navbar .cta-btn:hover {
    opacity: 0.9;
}
 
/* ===== Hero ===== */
.hero {
    display: flex;
    justify-content: center;
    background: #FFFCF4;
}

.hero .content {
    display: flex;
    padding-top: 64px;
    padding-bottom: 65px;
}

.hero .img-box .card {
    width: 470px;
    height: 685px;
    object-fit: cover;
    border-radius: 20px;
}


.hero .content .info {
    padding-top: 64px;
    padding-left: 230px;
}

.hero .content .title {
    max-width: 470px;
    color: #171100;
    font-family: Sen;
    font-size: 5.8rem;
    font-style: normal;
    font-weight: 700;
    line-height: 1.17241; /* 117.241% */
    letter-spacing: -1.16px;
    margin-bottom:  22px;
}

.hero .content .desc {
    max-width: 470px;
    color: #5F5B53;
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; /* 166.667% */
}

.hero .hero-cta {
    display: flex;
    align-items: center;

    margin-top: 38px;
}

.hero .hero-cta .cta-seecourses {
    display: flex;
    align-items: center;
    justify-content: center;

    margin-right: 28px  ;

    min-width: 180px;
    height: 64px;
    border-radius: 32px;
    background: #FFB900;

    color: #FFF;
    font-family: Poppins;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.66; /* 166.667% */
}

.hero .hero-cta .cta-watch {
    display: flex;
    align-items: center;
    
}

.hero .hero-cta .cta-play{
    display: flex;
    align-items: center;
    justify-content: center;

    width: 40px;
    height: 40px;

    border-radius: 40px;
    background: #FFF;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.07);
}

.hero .hero-cta .cta-watch .desc {
    color: #171100;
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 30px; /* 166.667% */
    padding-left: 14px;
}

.hero .stats {
    margin-top: 48px;
}

.hero .stats>.desc {
    margin-bottom: 8px;
}

.hero .stats .stats-number {
    display: flex;

}
 
.hero .stats .stats-number_detail {
    display: flex;
    align-items:flex-end;
    margin-right: 28px;
}

.hero .stats .stats-number_detail .quantity {
    color: #171100;
    font-family: Sen;
    font-size: 4.4rem;
    font-weight: 700;
    margin-right: 15px;
}

/* ===== Pop Course ===== */
.popcourses {
    margin-bottom: 200px;
}

.popcourses .content  {
    margin-top: 200px;
}


.popcourses .content .introduction {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.popcourses .content .introduction .sub-title {
    padding-bottom: 16px;
}

.popcourses .content .introduction .desc {
    width: 458px;

    color: #5F5B53;
    font-family: Poppins;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.66; /* 166.667% */
}

.popcourses .content .course-moving {
    display: flex;
    
}

.popcourses .content .course-moving .move-btn {
    width: 40px;
    height: 40px;
    margin-left: 18px;
}
/* ===== List Course ===== */
.popcourses .body {
    padding: 22px;
}

.popcourses .list {
    display: flex;
    margin-top: 22px;
}
.popcourses .list .item {
    width: 370px;
    height: 466px;
    border-radius: 12px;
    box-shadow: 0px 18px 36px 0px rgba(0, 0, 0, 0.05);
    margin-right: 30px;
}

.popcourses .list .item:hover {
    box-shadow: 0px 18px 36px 0px  rgba(255, 185, 0, 0.35);
}

.popcourses .list .course-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.popcourses .list .pointed {
    color: #FEA31B;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px; /* 175% */
    padding-left: 6px;
}

.popcourses .list .item .thump {
    width: 370px;
    height: 278px;
    object-fit: cover;
    border-radius: 12px 12px 0px 0px;
}

.popcourses .list .item .course-name {
    color: #171100;
    font-family: Poppins;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.66; /* 166.667% */
}

.popcourses .list .item .desc {
    color: #5F5B53;
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px; /* 185.714% */
}

.popcourses .list .item .price {
    color: #171100;
    font-family: Poppins;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.66666; /* 166.667% */

    padding-top: 22px;;
}

/* ===== Testimonial ===== */
.testimonial {
    background-color: #2E2100;
}

.testimonial .content {
    display: flex;
    align-items: centerS;
    padding-top: 96px;
    padding-bottom: 96px;
}

.testimonial .testimonial-info {
}

.testimonial .testimonial-info .logo {
    width: 72px;
    height: 72px;
    object-fit: cover;
    border-radius: 50%;
    margin-bottom: 18px;
}

.testimonial .testimonial-info .name {
    margin-bottom: 4px;
    min-width: 130px;
    color: #F7F7F7;
    font-family: Sen;
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 1.41; /* 141.667% */
}

.testimonial .testimonial-info .desc {
    min-width: 160px;
    color: #BFBCB2;
    font-family: Poppins;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.85714; /* 185.714% */
}
.testimonial .testimonial-moving {
    width: 30px;
    display: flex;
    justify-content: space-between;
    margin-top: 28px;
}
.testimonial .testimonial-moving .moving-btn {
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: #FFB900;
}
.testimonial .testimonial-moving .moving-btn:hover  {
    background-color: wheat;

}

.testimonial .testimonial-moving .moving-btn:first-child, 
.testimonial-moving  .moving-btn:last-child {
    opacity: 0.6;   
}
.testimonial .testimonial-quote {
    margin-left: 241px;
}
.testimonial .testimonial-quote .quote {
    color: #FFF;
    font-family: Poppins;
    font-size: 2.6rem;
    font-style: italic;
    font-weight: 400;
    line-height: 1.53846; /* 153.846% */
}
.testimonial .testimonial-quote .dom {
    position: relative;
    left: -30px;
}
/* ===== Feat & CTA ===== */
.feat .content .content-feat {
    margin-top: 200px;
    margin-bottom: 200px;
    display: flex;
}

.feat .content .img-box {
    display: flex;
}

.feat-card {
    width: 270px;
    height: 405px;
    object-fit: cover;
    border-radius: 16px;
}

.feat-card:first-child {
    margin-right: 30px;
}

.feat-card:last-child {
    position: relative;
    top: -36px;
}

.feat .info-feat {
    margin-top: 24px;
    margin-left: 130px;
}

.feat .info .sub-title {
    margin-bottom: 16px;
}

.feat .info .desc {
    margin-bottom: 16px;
}

.feat .info .desc:last-of-type {
    margin-bottom: 32px;
}

.feat .info .cta-btn {
    min-width: 137px;
}

.feat .content-cta .cta-card {
    width: 470px;
    height: 440px;
    object-fit: cover;
    border-radius: 20px;
}

.feat .content .content-cta {
    margin-top: 200px;
    margin-bottom: 200px;
    display: flex;
}

.feat .content-cta .info-cta {
    margin-top:  71px;
    min-width: 570px;
}

.feat .content-cta .img-box {
    margin-left: 130px;
}

/* ===== Blog ===== */
.blogs {
    background-color:  #FFFCF4;
}

.blogs .content {
    padding-top: 96px;
    padding-bottom: 96px;
}
.blogs .content>.info {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-bottom: 55px;
}

.blogs .content>.info .desc {
    text-align: center;
    max-width: 448px;
}

.blogs .card {
    width: 370px;
    min-height: 467px;
    border-radius: 16px;
    box-shadow: 0px 16px 32px 0px rgba(0, 0, 0, 0.05);
    background-color: white;
}

.blogs .thump {
    width: 370px;
    height: 250px;
    object-fit: cover;
    border-radius: 16px 16px 0px 0px;
}

.blogs .card-info {
    padding: 20px 20px;
    padding-bottom: 28px;
} 



.blogs .card-info .postdate::before {
    content: "";
    width: 6px;
    height: 6px;
    margin-right: 4px;
    background-color: var(--primary-color);
    border-radius: 50%;
}

.blogs .card-info .postdate {
    position: relative;
    display: flex;
    align-items: center;

    color: #5F5B53;
    font-family: Poppins;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.85;
}

.blogs .card-info .separate {
    width: 160px;
    height: 1px;
    border-radius: 0.5px;
    background-color: #E2DFDA;
    margin: 12px 0px;
}

.blogs .card-info .blog-title {
    color: #171100;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 1.75; /* 175% */
    margin-bottom: 12px;
}

.blogs .blog-cards  {
    display: flex;
    justify-content: center;
}

.blogs .blog-cards .card {
    margin-left: 30px;
}
.moving-blogs{
    display: flex;
    margin-top: 38px;
    justify-content: center;
}

.moving-blogs .moving-btn {
    display: inline-block;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    margin-right: 6px;
    background-color: #FFB900;
}

.moving-blogs .moving-btn:first-child, 
.moving-blogs .moving-btn:last-child {
    background-color: #5F5B53;
}
.moving-blogs .moving-btn:hover{
    background-color: wheat;
}

